body {
  margin: 0;
  font-family: 'Manrope', -apple-system, BlinkMacSystemFont, 'Inter', 'Segoe UI', 'Roboto',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: linear-gradient(45deg, #EECFBA, #C5DDE8);; */
  /* background: radial-gradient(40% 50%, #FAECD5, #CAE4D8); */
  /* background: linear-gradient(to top, #93aceb 20%, #fdfdfd 50%, #93aceb 80%); */
}
body::-webkit-scrollbar {
  width: 2px;
}

body::-webkit-scrollbar-track {
  background: gray;
  border-radius: 12px;
}

body::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 12px;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
