body {
  width: 1440px;
  margin: 0 auto;
  font-family: 'Manrope', -apple-system, BlinkMacSystemFont, 'Inter', 'Segoe UI', 'Roboto',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 768px) {
  body{
 width: 768px;
 }
}
body::-webkit-scrollbar {
  width: 2px;
}

body::-webkit-scrollbar-track {
  background: gray;
  border-radius: 12px;
}

body::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 12px;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
